{% trans_default_domain 'contao_default' %}
{% extends "@ContaoCore/Backend/be_page.html.twig" %}

{% block headline %}
    {{ 'event_registration_export'|trans({event: eventTitle}, 'im_contao_event_registration') }}
{% endblock %}

{% block error %}{% endblock %}

{% block main %}
    <div id="tl_buttons">
        <a href="{{ backUrl }}" class="header_back" title="{{ 'MSC.backBTTitle'|trans }}" accesskey="b">{{ 'MSC.backBT'|trans }}</a>
    </div>

    {{ messages|raw }}

    {{ form|raw }}
{% endblock %}
